.Dictionary h1,
h2 {
  font-weight: bold;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.Dictionary .btn {
  background: var(--primary-color);
  font-weight: bold;
}

.Dictionary section {
  background: var(--section-color);
  margin-top: 1.5rem;
  padding: 1.7rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.Dictionary input {
  /* width: 100%; */
  padding: 8px 10px;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
}

.Dictionary .hint {
  font-size: 0.7rem;
  text-align: left;
  margin-top: 0.5rem;
  opacity: 60%;
}
