:root {
  --primary-color: #00ebc7;
  --secondary-color: #ff5470;
  --background-color: #fbfcfc;
  --box-shadow: 6px 6px 12px #dfd3d3, -18px -18px 36px #fceff7;
  --primary-font-color: #00214d;
  --font-family: "Orienta";
}

body {
  background-color: var(--background-color);
  color: var(--primary-font-color);
  font-family: var(--font-family);
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}
