.Meaning h4 {
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.Meaning .example {
  opacity: 80%;
  font-style: italic;
  margin-top: 0.7rem;
}

.Meaning .definition span {
  color: var(--primary-color);
}
