.Phonetic {
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
}

.Phonetic a {
  border: 0.5px solid var(--secondary-color);
  padding: 8px 20px;
  border-radius: 15px;
  transition: all 150ms ease-in-out;
  font-size: 0.8rem;
  margin-right: 0.8rem;
}

.Phonetic a:hover {
  background: var(--primary-color);
  border: 0.5px solid var(--primary-color);
  color: var(--background-color);
  font-weight: normal;
}

.Phonetic .text {
  opacity: 85%;
}
